<div class="dropDownContainer" @onclick="@(e => ToggleState())">
    <label>@Placeholder</label>
    <ul class="@string.Join(" ", dropDownListClasses)">
        @foreach (var item in @Items)
        {
            <li class="@(item == Placeholder ? "active" : "")" @onclick="@(e => SwitchItems(@item))">@item</li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string[] Items { get; set; }

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public Action<string, string> OnSelectedChanged { get; set; }

    private List<string> dropDownListClasses = new List<string>();

    private void ToggleState()
    {
        if (dropDownListClasses.Contains("opened"))
        {
            dropDownListClasses.Remove("opened");
        }
        else
        {
            dropDownListClasses.Add("opened");
        }
    }

    public void SwitchItems(string itemClicked)
    {
        // Put placeholder in place of item clicked in Items array
        //Items = Items.Select(s => s.Replace(itemClicked, Placeholder)).ToArray();

        // Update placeholder on dropdown with item clicked
        Placeholder = itemClicked;

        OnSelectedChanged(Name, Placeholder);
    }
}
