<div class="listBoxContainer">
  @foreach (var item in @Items)
  {
    string name = $"{item.ID}:{item.Name}";
    <div class="listBoxItem">
      <TickBox Name="@name" Checked="@EnabledItems.Contains(@item.Name).ToString()" OnClick=@Updated />
      <span title="@item.Title">@item.Name</span>
    </div>
  }
</div>

@code {
  public class Item 
  {
    public int ID { get; set; }
    public string Name { get; set; }
    public string Title { get; set; }
  }

  [Parameter]
  public string Name { get; set; }

  [Parameter]
  public List<Item> Items { get; set; }

  [Parameter]
  public List<string> EnabledItems { get; set; }

  [Parameter]
  public Action<string, string, string> OnUpdate { get; set; }

  public void Updated(string name, string newValue)
  {
    //Console.WriteLine($"{Name} {name} {newValue}");
    OnUpdate(Name, name, newValue);
  }
}
